.outerbox1{
    background-color:beige;
    min-height:350px;   /*this is because it adjust adapting for screen(espectially small screen like mobile*/
    display:flex;
    justify-content:space-around;/*flex start for align left, flext end for align last(right),center for align center  (this is for mainaxis)*/
    align-items:center;/*this is for cross axis*/
    */
}/*space-between in justify-content is used for specify the gap
space around is for side la um konja gap vanum between contents gap venum na namma use*/
.outerbox{
    background-color:beige;
    min-height:350px;   /*this is because it adjust adapting for screen(espectially small screen like mobile*/
    display:flex;
    flex-direction:column;
    justify-content:space-between ;/*flex start for align left, flext end for align last(right),center for align center  (this is for mainaxis)*/
    align-items:center;/*this is for cross axis*/
    /* flex-wrap:wrap-reverse;*/
} 
.box{
    width:150px;
    height:250px;
    background-color:blue;
    border:2px solid white;
}






.container{
    display:flex;
}

p{
    padding:10px;
}

.para1{
 background-color:aqua ;
 flex:1;
 order:1;
}
.para2{
    background-color:aquamarine ;
    flex:1;
    order:3;
   }
   .para3{
    background-color:greenyellow ;
    flex:2;
    order:2;
   }
   