body{
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#clock{
    text-align:center;
    margin:200px auto;

}

#time{
    font-size:100px;
    color:gold;
    font-weight:bold;
    letter-spacing: 10px;
}

#greetings{
    color:black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}